<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>User profile will be here</h2>

<% @user.invitations.all.each do |invitation| %>
<h1><%= invitation.title %></h1>
<h2>status: <%= invitation.status %></h2>
<h3><%= invitation.description %></h3>
<p><%= invitation.offer.volunteer.first_name%> <%= invitation.offer.volunteer.last_name%></p>
<p><%= invitation.start_date %> to <%= invitation.end_date %></p>
<% end %>
