<br>
<br>
<br>

<div class="container">
  <div class="d-flex align-items-center white-background" >
    <div class="header-item">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <% if @user == current_user %>
      <div class="edit-item">
        <%= link_to edit_user_path(@user) do %>
          <i class="fas fa-pen"></i> Your profile
        <% end %>
      </div>
      <div class="edit-item">
        <%= link_to new_offer_path do %>
          <i class="fas fa-plus"></i> New help offer
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="profile_details d-flex">
      <div class="profile_picture" style="background-image: url('<%= image_path @user.photo %>')">
      </div>
      <div class="profile_text">
        <p class="heading"><strong>About myself: </strong></p>
        <p>Location: <strong> <%= @user.location%></strong></p>
        <p class= "card text_field"><%= @user.bio%></p>
      </div>
  </div>
  <br>
  <div class="white-background">

  <% @offers.each do |offer| %>
    <div class="d-flex align-items-center justify-content-spacebetween">
      <div class="avatar-large">
        <%= image_tag offer.talent.photo, alt: "talent photo" %>
      </div>
      <div class="body-item">
        <h3><%= offer.talent.title %></h3>
      </div>
        <div class="body-item">
        <p><strong><%= offer.title %></strong></p>
        <p><%= offer.comment %></p>
      </div>
      <div class="edit-item">
        <% if @user == current_user %>
          <%= link_to edit_offer_path(offer) do%>
            <i class="fas fa-pen"></i> Edit
          <% end %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
</div>

