<br>
<br>
<div class="banner">
  <div class="container">
    <div id="search_bar">
      <h1>Find a volunteer.</h1>
      <br>
      <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
      <div class="search-form-control form-group search_box" id="margin">
        <input class="form-control string required" type="text" name="query" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat btn-primary homepage-button">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
      <% end %>
    </div>
    <br>
    <br>
    <h1>Be a volunteer!</h1>
    <p>Giving and Taking, it is so easy. Help in your neighbourhood and find people that are happy to offer help back.</p>
    <%= link_to "Join now", new_user_registration_path, class:"btn btn-flat btn-primary" %>
  </div>
</div>
<div class="w-100 bg-light">
  <br>
  <br>
  <div class="container">
    <h2 style="padding-left: 30px"> Find help in one of our categories </h2>
    <div class="flex-container category-cards">
      <% Talent.all.each do |talent| %>
        <%= link_to offers_path(query: talent.title) do %>
         <div class="card-category" id="<%= talent.slug %>"> <h2> <%= talent.title%> </h2></div>
        <% end %>
      <% end %>
<%
=begin %>
      <% @talents.each do |talent| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('<%= talent.photo %>');"> <h2> <%= talent.title %> </h2></div>
      <% end %>
<%
=end %>
    </div>
  </div>
</div>


