<br>
<br>
<br>

<div class="container">
  <div id="search_bar">
    <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
    <div class="search-form-control form-group search_box">
      <input class="form-control string required" type="text" name="query" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat btn-primary homepage-button">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
    <% end %>
  </div>
  <br>
  <br>
  <h2>People near you, who can help out:  </h2>

  <hr>
  <div class="flex-container category-cards">
    <% @offers.each do |offer| %>
    <div class="card card_offer">
      <div class="card-image" style="background-image: url('<%= image_path offer.volunteer.photo %>')">
      </div>
      <div class="card-body">
        <h4 class="card-title"> <%= offer.volunteer.first_name %> </h4>
        <p class="card-text"><%= offer.title %></p>
        <%= link_to offer_path(offer) do %>
        <p class="btn btn-primary w-100">Invite</p>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
  <hr>
</div>

