<h2><%= @offer.volunteer.first_name %>'s offer</h2>
<p><%= @offer.talent.title %></p>
<p><%= @offer.comment %></p>
<hr>
<%= link_to "Edit the offer", edit_offer_path %>
 <br>
<%= link_to "Delete the offer", offer_path(@offer),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<hr>
<%= link_to "Back to the offers list", offers_path %>