<br>
<br>
<br>

<div class="container d-flex">

  <div class="offer-details">

    <h3><%= @offer.volunteer.first_name %> could help out. Invite her!</h3>
    <br>
    <p><%= @offer.talent.title %></p>
    <p><%= @offer.title %></p>
    <p><%= @offer.comment %></p>

  </div>

<div class="card">
    <h5>Create invitation</h5>
    <div class="modal-body">
      <%= simple_form_for @invitation do |f| %>
        <%= f.input :offer_id, as: :hidden %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>

</div>

<div class="container">
  <%= link_to "Back to the offers list", offers_path %>
</div>


